/* ----------共通---------- */
body{
  position:relative;
}
table{
  table-layout:fixed;
  border-collapse:collapse;
}
.must{
  background-color:#f00;
  color:#fff;
  font-size:10px;
  margin:10px 0;
  padding:5px;
  border-radius:3px;
}
.error{
  color:#f00;
  font-size:13px;
  padding:3px;
}
.underline{
  text-decoration:underline;
  color:#996666;
}
.underline:hover{
  opacity:0.5;
}
.font-size-small{
  font-size:12px;
}
.center{
  text-align:center;
}
.border{
  border-top:1px solid #996666;;
  width:80%;
  margin:20px auto;
}
.submit{
  text-align:center;
}
.submit a{
  background-color:#996666;
  border:1px solid #996666;
  color:#fff;
  padding:13px 20px;
  margin:20px;
}
.submit a:hover{
  background-color:#e8d8d8;
  color:#996666;
}
.submit input{
  background-color:#996666;
  border:1px solid #996666;
  color:#fff;
  padding:10px 20px;
  margin:20px;
}
.submit input:hover{
  background-color:#e8d8d8;
  color:#996666;
}
.submit button{
  background-color:#996666;
  border:1px solid #996666;
  color:#fff;
  padding:10px 20px;
  margin:20px;
}
.submit button:hover{
  background-color:#e8d8d8;
  color:#996666;
}
.submit .delete{
  background-color:#f00;
  border:1px solid #f00;
  color:#fff;
  padding:12px 20px;
  margin:20px;
}
.submit .delete:hover{
  background-color:#fff;
  color:#f00;
}
.submit ul{
  margin:40px 0;
}
.submit ul li{
  display:inline-block;
  margin:0 20px;
}
.small-width{
  width:20%;
}
.medium-width{
  width:50%;
}
.half-width{
  width:75%;
}
.large-width{
  width:100%;
}
.opacity{
  opacity:0.2;
}
.empty{
  color:#f00;
  font-size:15px;
  text-align:center;
}
/* ----------共通---------- */
.flash{
  position:absolute;
  transition:0.5s;
  top:-100px;
  left:0;
  width:100%;
  background-color:#fff;
  text-align:center;
  display:block;
  border-bottom:1px solid #e8d8d8;
}
.flash.fadeIn{
  transition:0.5s;
  top:0;
}
.flash p{
  color:#996666;
  font-size:20px;
  padding:20px 0;
}
.black-bg.open{
  z-index:2;
  position:absolute;
  width:100%;
  height:250vh;
  background-color:#000;
  opacity:0.5;
}
.sidebar{
  z-index:3;
  position:fixed;
  transition:0.5s;
  left:-300px;
  top:0;
  height:100vh;
  width:300px;
  text-align:center;
  background-color:#e8d8d8;
  border-right:1px solid #996666;
  color:#996666;
}
.sidebar.open{
  transition:0.5s;
  left:0;
}
.sidebar #close{
  text-align:right;
  font-size:20px;
  font-weight:bold;
  margin:20px 20px 20px 0;
}
.sidebar #close i{
  cursor:pointer;
}
.sidebar .main-tema{
  font-size:15px;
  margin:20px 0;
}
.sidebar .sub-tema li{
  padding:7px 0;
  margin:auto;
  border-bottom:1px solid #d1b2b2;
  width:90%;
}
.sidebar .sub-tema li:first-child{
  margin-top:10px;
}
.sidebar .sub-tema li a{
  padding:7px 0;
  font-size:13px;
}
.sidebar .sub-tema li a:hover{
  opacity:0.5;
}

.top{
  display:grid;
  align-items:center;
  justify-content:end;
  height:50px;
  background-color:#996666;
}
.top ul{
  list-style:none;
  color:#fff;
}
.top ul li{
  display:inline-block;
  margin-right:20px;
}
.top ul li a{
  color:#fff;
}
.top ul li a:hover{
  color:#c49797;
}
.top ul li a i{
  color:#fff;
  margin-right:5px;
}

.breadcrumbs{
  background-color:#996666;
  border-top:1px solid #d1b2b2;
  width:100%;
  padding:7px 15px;
}
.breadcrumbs li{
  color:#fff;
  display:inline-block;
  font-size:13px;
}
.breadcrumbs li a{
  text-decoration:underline;
}
.breadcrumbs li a:hover{
  opacity:0.5;
}

header{
  display:grid;
  align-items:center;
  text-align:center;
  /* background-color:#996666; */
  /* background-image:url('/storage/header-bg.jpg'); */
  background-position:100% 60%;
  width:100%;
  height:300px;
}
header .header-text{
  color:#fff;
}
header .header-text h1{
  font-family:CURSIVE;
  font-size:60px;
  margin:10px 0 30px;
  text-shadow:3px 3px 0 #999;
}
header .header-text h2{
  font-size:20px;
  text-shadow:1px 1px 0 #999;
}

nav{
  display:grid;
  align-items:center;
  text-align:center;
  background-color:#996666;
  height:40px;
  border-bottom:2px solid #999;
}
nav ul{
  list-style:none;
}
nav ul li{
  display:inline-block;
}
nav ul li #open{
  cursor:pointer;
  color:#fff;
  font-size:20px;
  margin-right:20px;
}
nav ul li a{
  color:#fff;
  padding:10px 20px;
}
nav ul li a:hover{
  background-color:#FFDBC9;
}
nav ul li input{
  text-align:left;
  background-color:#fff;
  padding:3px;
}
nav ul li input:last-child{
  background-color:#ddd;
  padding:3px 10px;
  border:1px solid #999;
}

main{
  position:relative;
  box-sizing:border-box;
  /* padding-bottom:120px; */
  display:grid;
  grid-template-columns:2.5fr 1fr;
  grid-gap:5px;
  background-color:#fff;
  margin:20px auto;
  max-width:1000px;
  height:100vh;
}
main .content{
  grid-column:1 / 2;
}
main .right-side{
  grid-column:2 / 3;
  padding:10px;
  border:4px double #996666;
  border-radius:5px;
}
main .right-side ul{
  margin-bottom:20px;
}
main .right-side ul .search{
  background-color:#996666;
  color:#fff;
  font-size:13px;
  text-align:center;
  border-radius:3px;
}
main .right-side ul li{
  line-height:2;
  color:#996666;
  border-bottom:1px solid #996666;
}
main .right-side ul li a{
  color:#996666;
  font-size:13px;
}
main .right-side ul li a:hover{
  opacity:0.5;
}

footer{
  z-index:1;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  display:grid;
  grid-template-rows:70px 50px;
  align-items:center;
  text-align:center;
  background-color:#996666;
}
footer h2{
  grid-row:1 / 2;
}
footer h2 a{
  font-size:35px;
  color:#fff;
  font-family:CURSIVE;
  text-shadow:3px 3px 0 #999;
}
footer ul{
  grid-row:2 / 3;
  border-top:1px solid #fff;
  width:100%;
  padding-top:10px;
}
footer ul li{
  display:inline-block;
  margin:0 20px;
  font-size:15px;
  color:#fff;
}
footer ul li a{
  color:#fff;
  text-decoration:underline;
}
footer ul li a:hover{
  opacity:0.4;
}

/* ----------register---------- */
.register-first{
  text-align:center;
}
.register-first h2{
  color:#996666;
  font-size:25px;
  margin:10px 0;
}
.register-second{
  width:90%;
  margin:40px auto 0;
  border-top:2px solid #996666;
  border-bottom:2px solid #996666;
}
.register-second ul{
  margin:20px;
}
.register-second ul li{
  margin:5px 0;
}
.register-second ul li input{
  background-color:#fff;
  border:1px solid #996666;
  border-radius:3px;
  padding:5px;
}
.register-second ul li select{
  background-color:#fff;
  border:1px solid #996666;
  border-radius:3px;
  padding:5px;
}
/* ----------register---------- */

/* ----------login---------- */
.login-first{
  text-align:center;
}
.login-first h2{
  color:#996666;
  font-size:25px;
  margin:10px 0;
}
.login-second{
  width:90%;
  margin:40px auto 0;
  border-top:2px solid #996666;
  border-bottom:2px solid #996666;
}
.login-second table{
  display:grid;
  align-items:center;
  justify-content:center;
  margin:20px;
}
.login-second table tr td{
  margin:20px 0;
}
.login-second table tr td input{
  width:400px;
  background-color:#fff;
  border:1px solid #996666;
  padding:5px;
  margin:20px 0 5px;
}
.login-second table tr td strong{
  color:#f00;
  font-weight:normal;
}
.login-third{
  text-align:center;
  margin:10px 0 20px;
  color:#996666;
}
.login-third ul li{
  display:inline-block;
}
.login-fourth{
  text-align:center;
}
.login-fourth a{
  color:#996666;
  text-decoration:underline;
}
.login-fourth a:hover{
  opacity:0.5;
}
/* ----------login---------- */

/* ----------tops.index---------- */
.tops-index-first{
  margin:10px 0;
}
.tops-index-first h2{
  border-bottom:3px double #996666;
  padding:5px;
  width:50%;
  color:#996666;
  font-size:20px;
}
.new-shops{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  /* grid-template-rows:280px; */
  grid-gap:5px;
  align-items:center;
  margin:40px 0;
}
.new-shops a{
  border:1px solid #996666;
  background-color:#eee;
}
.new-shops a:hover{
  opacity:0.5;
}
.new-shops a .facility{
  text-align:center;
  margin:5px 0;
}
.new-shops a .facility li{
  display:inline-block;
  font-size:20px;
  margin:0 5px;
  color:#996666;
}
.new-shops a .detail{
  display:grid;
  grid-template-rows:190px 25px 25px 45px;
}
.new-shops a .detail li{
  display:grid;
  align-items:center;
  text-align:center;
  color:#996666;
  font-size:13px;
}
.new-shops a .detail li:nth-of-type(2){
  font-size:13px;
}
.new-shops a .detail li img{
  width:100%;
  height:190px;
}
.new-shops a .detail li:last-child{
  border-top:1px solid #996666;
  font-size:13px;
  padding:3px;
}
.tops-index-second{
  border-top:1px dashed #996666;
}
.main-shops{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  /* grid-template-rows:255px; */
  grid-gap:5px;
  align-items:center;
  margin:40px 0;
}
.main-shops a{
  border:1px solid #996666;
  background-color:#eee;
}
.main-shops a:hover{
  opacity:0.5;
}
.main-shops a .facility{
  text-align:center;
  margin:5px 0;
}
.main-shops a .facility li{
  display:inline-block;
  font-size:20px;
  margin:0 5px;
  color:#996666;
}
.main-shops a .detail{
  display:grid;
  grid-template-rows:190px 25px 45px;
}
.main-shops a .detail li{
  display:grid;
  align-items:center;
  text-align:center;
  color:#996666;
  font-size:13px;
}
.main-shops a .detail li img{
  width:100%;
  height:190px;
}
.main-shops a .detail li:last-child{
  border-top:1px solid #996666;
  font-size:13px;
  padding:3px;
}
/* ----------tops.index---------- */

/* ----------users.index---------- */
.users-index-first{
  margin:10px 0;
}
.users-index-first h2{
  border-bottom:3px double #996666;
  padding:5px;
  width:50%;
  color:#996666;
  font-size:20px;
}
.users-index-second{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-gap:5px;
  align-items:center;
}
.users-index-second a{
  border:1px solid #996666;
}
.users-index-second a:hover{
  opacity:0.5;
}
.users-index-second a ul{
  display:grid;
  grid-template-rows:160px 30px;
  background-color:#eee;
}
.users-index-second a ul li:first-child{
  display:grid;
  align-items:center;
  width:90%;
  margin:auto;
  height:90%;
  color:#996666;
  font-size:13px;
}
.users-index-second a ul li:nth-of-type(2),
.users-index-second a ul li:last-child{
  display:grid;
  align-items:center;
  margin:5px 0;
  color:#996666;
  font-size:13px;
}
.users-index-second a ul li img{
  width:100%;
  height:100%;
  border-radius:50%;
}
/* ----------users.index---------- */

/* ----------users.favorite---------- */
.users-favorite-first{
  margin:10px 0;
}
.users-favorite-first h2{
  border-bottom:3px double #996666;
  padding:5px;
  width:50%;
  color:#996666;
  font-size:20px;
}
.users-favorite-second{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:5px;
  align-items:center;
}
.users-favorite-second .shops-detail{
  border:1px solid #996666;
  background-color:#eee;
}
.users-favorite-second .shops-detail:hover{
  opacity:0.5;
}
.users-favorite-second .shops-detail .facility{
  text-align:center;
  margin:5px 0;
}
.users-favorite-second .shops-detail .facility li{
  display:inline-block;
  font-size:20px;
  margin:0 5px;
  color:#996666;
}
.users-favorite-second .shops-detail .detail{
  display:grid;
  grid-template-rows:180px 25px 45px 25px;
}
.users-favorite-second .shops-detail .detail li{
  display:grid;
  align-items:center;
  height:100%;
  color:#996666;
  font-size:13px;
}
.users-favorite-second .shops-detail .detail li img{
  width:100%;
  height:100%;
}
.users-favorite-second .shops-detail .detail li:nth-of-type(2){
  border-bottom:1px solid #996666;
}
.users-favorite-second .shops-detail .detail li:last-child{
  border-top:1px solid #996666;
}
.users-favorite-second .shops-detail .detail li:last-child .liked{
  color:#996666;
  margin:0 5px;
}
.users-favorite-second .shops-detail .detail li:last-child .no-like{
  color:#bbb;
  margin:0 5px;
}
/* ----------users.favorite---------- */

/* ----------users.show---------- */
.users-show-first{
  display:grid;
  grid-template-columns:1fr 1fr;
  grid-template-rows:300px;
  margin:20px;
}
.users-show-first img{
  width:100%;
  height:300px;
  border-radius:50%;
}
.users-show-first ul{
  display:grid;
  align-items:center;
  margin:0 20px;
  color:#996666;
}
.users-show-second-empty{
  display:grid;
  align-items:center;
  justify-content:center;
  border:2px solid #996666;
  border-radius:3px;
  width:90%;
  margin:40px auto 0;
  min-height:80px;
}
.users-show-second{
  background-color:#eeffff;
  border:2px solid #996666;
  border-radius:3px;
  width:90%;
  margin:40px auto 0;
  padding:10px;
  min-height:80px;
}
.users-show-second p{
  white-space:pre-wrap;
}
.users-show-third{
  width:90%;
  margin:40px auto;
}
.users-show-third h2{
  color:#996666;
  text-align:center;
  font-size:20px;
  margin-bottom:40px;
}
.users-show-third a{
  display:grid;
  align-items:center;
  grid-template-rows:180px;
  grid-template-columns:220px 1fr;
  border:3px solid #996666;
  border-radius:3px;
  margin:5px 0;
}
.users-show-third a:hover{
  opacity:0.5;
}
.users-show-third a img{
  grid-column:1 / 2;
  width:220px;
  height:180px;
}
.users-show-third a ul{
  margin:5px;
  grid-column:2 / 3;
  display:grid;
  grid-template-rows:40px 100px 40px;
  align-items:center;
}
/* ----------users.show---------- */

/* ----------users.edit---------- */
.users-edit-first{
  text-align:center;
}
.users-edit-first h2{
  color:#996666;
  font-size:25px;
  margin:10px 0;
}
.users-edit-second{
  width:90%;
  margin:40px auto 0;
  border-top:2px solid #996666;
  border-bottom:2px solid #996666;
}
.users-edit-second ul{
  margin:20px;
}
.users-edit-second ul li{
  margin:5px 0;
}
.users-edit-second ul li input{
  background-color:#fff;
  border:1px solid #996666;
  border-radius:3px;
  padding:5px;
}
.users-edit-second ul li select{
  background-color:#fff;
  border:1px solid #996666;
  border-radius:3px;
  padding:5px;
}
.users-edit-second ul li{
  font-size:13px;
}
.users-edit-second ul li textarea{
  background-color:#fff;
  border:1px solid #996666;
  border-radius:3px;
  padding:5px;
  height:200px;
}
/* ----------users.edit---------- */

/* ----------shops.index---------- */
.shops-index-first{
  margin:10px 0;
}
.shops-index-first h2{
  border-bottom:3px double #996666;
  padding:5px;
  width:50%;
  color:#996666;
  font-size:20px;
}
.shops-index-second{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:5px;
  align-items:center;
}
.shops-index-second .shops-detail{
  border:1px solid #996666;
  background-color:#eee;
}
.shops-index-second .shops-detail:hover{
  opacity:0.5;
}
.shops-index-second .shops-detail .facility{
  text-align:center;
  margin:5px 0;
}
.shops-index-second .shops-detail .facility li{
  display:inline-block;
  font-size:20px;
  margin:0 5px;
  color:#996666;
}
.shops-index-second .shops-detail .detail{
  display:grid;
  grid-template-rows:180px 25px 45px 25px;
}
.shops-index-second .shops-detail .detail li{
  display:grid;
  align-items:center;
  height:100%;
  color:#996666;
  font-size:13px;
}
.shops-index-second .shops-detail .detail li img{
  width:100%;
  height:100%;
}
.shops-index-second .shops-detail .detail li:nth-of-type(2){
  border-bottom:1px solid #996666;
}
.shops-index-second .shops-detail .detail li:last-child{
  border-top:1px solid #996666;
}
.shops-index-second .shops-detail .detail li:last-child .liked{
  color:#996666;
  margin:0 5px;
}
.shops-index-second .shops-detail .detail li:last-child .no-like{
  color:#bbb;
  margin:0 5px;
}
/* ----------shops.index---------- */

/* ----------shops.area/tema---------- */
.shops-area-first{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:5px;
  align-items:center;
}
.shops-area-first .shops-detail{
  border:1px solid #996666;
  background-color:#eee;
}
.shops-area-first .shops-detail:hover{
  opacity:0.5;
}
.shops-area-first .shops-detail .facility{
  text-align:center;
  margin:5px 0;
}
.shops-area-first .shops-detail .facility li{
  display:inline-block;
  font-size:20px;
  margin:0 5px;
  color:#996666;
}
.shops-area-first .shops-detail .detail{
  display:grid;
  grid-template-rows:180px 25px 45px 25px;
}
.shops-area-first .shops-detail .detail li{
  display:grid;
  align-items:center;
  height:100%;
  color:#996666;
  font-size:13px;
}
.shops-area-first .shops-detail .detail li img{
  width:100%;
  height:100%;
}
.shops-area-first .shops-detail .detail li:nth-of-type(2){
  border-bottom:1px solid #996666;
}
.shops-area-first .shops-detail .detail li:last-child{
  border-top:1px solid #996666;
}
.shops-area-first .shops-detail .detail li:last-child .liked{
  color:#996666;
  margin:0 5px;
}
.shops-area-first .shops-detail .detail li:last-child .no-like{
  color:#bbb;
  margin:0 5px;
}
/* ----------shops.area/tema---------- */

/* ----------shops.ranking---------- */
.shops-ranking-first{
  margin:10px 0;
}
.shops-ranking-first h2{
  border-bottom:3px double #996666;
  padding:5px;
  width:50%;
  color:#996666;
  font-size:20px;
}
.shops-ranking-second{
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:5px;
  align-items:center;
}
.shops-ranking-second .shops-detail{
  border:1px solid #996666;
  background-color:#eee;
}
.shops-ranking-second .shops-detail:hover{
  opacity:0.5;
}
.shops-ranking-second .shops-detail .facility{
  text-align:center;
  margin:5px 0;
}
.shops-ranking-second .shops-detail .facility li{
  display:inline-block;
  font-size:20px;
  margin:0 5px;
  color:#996666;
}
.shops-ranking-second .shops-detail .detail{
  display:grid;
  grid-template-rows:180px 25px 45px 25px;
}
.shops-ranking-second .shops-detail .detail li{
  display:grid;
  align-items:center;
  height:100%;
  color:#996666;
  font-size:13px;
}
.shops-ranking-second .shops-detail .detail li img{
  width:100%;
  height:100%;
}
.shops-ranking-second .shops-detail .detail li:nth-of-type(2){
  border-bottom:1px solid #996666;
}
.shops-ranking-second .shops-detail .detail li:last-child{
  border-top:1px solid #996666;
}
.shops-ranking-second .shops-detail .detail li:last-child .liked{
  color:#996666;
  margin:0 5px;
}
.shops-ranking-second .shops-detail .detail li:last-child .no-like{
  color:#bbb;
  margin:0 5px;
}
/* ----------shops.ranking---------- */

/* ----------shops.show---------- */
.shops-show-first{
  width:80%;
  margin:0 auto;
}
.shops-show-first .shops-show-title{
  text-align:center;
}
.shops-show-first .shops-show-title ul{
  margin-bottom:20px;
}
.shops-show-first .shops-show-title ul li{
  margin:15px 0;
}
.shops-show-first .shops-show-title ul li:first-child,
.shops-show-first .shops-show-title ul li:nth-of-type(2){
  font-size:20px;
  color:#996666;
}
.shops-show-first .shops-show-title ul li:last-child{
  border-top:1px solid #996666;
  font-size:13px;
  color:#996666;
  padding-top:10px;
}
.shops-show-first .shops-show-image{
  width:100%;
  height:470px;
}
.shops-show-first .shops-show-image img{
  width:100%;
  height:470px;
}
.shops-show-first .shops-show-facility{
  margin:15px 0;
  text-align:center;
}
.shops-show-first .shops-show-facility ul li{
  display:inline;
  font-size:35px;
  margin:0 10px;
  color:#996666;
}
.shops-show-first .shops-show-graph{
  width:100%;
}
.shops-show-first .shops-show-graph th{
  width:110px;
  font-weight:normal;
  text-align:center;
}
.shops-show-first .shops-show-graph td{
  width:400px;
}
.shops-show-first .shops-show-graph p{
  display:inline-block;
  width:18%;
  height:20px;
  background-color:#e8d8d8;
  border:1px solid #996666;
}
.shops-show-first .shops-show-graph .point{
  display:inline-block;
  width:18%;
  height:20px;
  background-color:#996666;
  border:1px solid #996666;
}
.shops-show-first .shops-show-hash{
  margin-top:20px;
}
.shops-show-first .shops-show-hash ul{
  width:90%;
  margin:0 auto;
  text-align:center;
}
.shops-show-first .shops-show-hash ul li{
  display:inline-block;
  font-size:14px;
  font-weight:bold;
  margin:5px 10px;
}
.shops-show-first .shops-show-content{
  display:grid;
  align-items:center;
  border:2px solid #996666;
  border-radius:3px;
  margin:30px 0;
  min-height:100px;
}
.shops-show-first .shops-show-content p{
  padding:10px;
  white-space:pre-wrap;
}
.shops-show-first .shops-show-detail{
  margin:15px 0;
  border-bottom:1px solid #996666;
}
.shops-show-first .shops-show-detail ul li{
  margin:15px 0;
}
.shops-show-first .shops-show-detail ul li a{
  text-decoration:underline;
  color:#996666;
}
.shops-show-first .shops-show-detail ul li:last-child a{
  text-decoration:none;
}
.shops-show-first .shops-show-detail ul li:last-child .liked{
  color:#996666;
  margin:0 5px;
}
.shops-show-first .shops-show-detail ul li:last-child .no-like{
  color:#bbb;
  margin:0 5px;
}
.shops-show-first .shops-show-detail ul li:last-child span{
  font-size:11px;
  color:#996666;
  margin-left:10px;
}
.shops-show-first .caution-title{
  text-align:center;
  padding:5px;
  margin:0;
  font-size:13px;
  width:80px;
  border:1px solid #f00;
  border-radius:3px 3px 0 0;
  background-color:#f00;
  color:#fff;
}
.shops-show-first .shops-show-caution{
  display:grid;
  align-items:center;
  border:1px solid #f00;
  border-radius:0 3px 3px 3px;
  font-size:13px;
}
.shops-show-first .shops-show-caution p{
  color:#f00;
  padding:10px;
  white-space:pre-wrap;
}
.shops-show-first .shops-show-btn{
  margin:30px 0;
  text-align:center;
}
.shops-show-first .shops-show-btn ul li{
  display:inline-block;
  margin:0 20px;
}
.shops-show-first .shops-show-btn ul li a{
  border:1px solid #996666;
  color:#996666;
  padding:5px 30px;
  font-size:15px;
}
.shops-show-first .shops-show-btn ul li a:hover{
  opacity:0.5;
}
.shops-show-first .shops-show-btn ul li input{
  border:1px solid #f00;
  color:#f00;
  padding:5px 30px;
  font-size:15px;
}
.shops-show-first .shops-show-btn ul li input:hover{
  opacity:0.5;
}
.shops-show-second{
  width:80%;
  margin:30px auto;
  padding-top:30px;
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-gap:2px;
  border-top:1px solid #996666;
}
.shops-show-second a{
  width:100%;
  height:150px;
}
.shops-show-second a:hover{
  opacity:0.5;
}
.shops-show-second a img{
  width:100%;
  height:100%;
}
.shops-show-third{
  width:80%;
  margin:30px auto;
}
.shops-show-third h2{
  border-bottom:2px solid #996666;
  padding:5px;
  margin-bottom:20px;
  width:50%;
  color:#996666;
  font-size:17px;
}
.shops-show-third .comments-create-btn{
  border:1px solid #996666;
  border-radius:3px;
  padding:5px 30px;
  font-size:15px;
  color:#996666;
}
.shops-show-third .comments-create-btn:hover{
  opacity:0.5;
}
.shops-show-third .comments-list{
  margin-top:30px;
}
.shops-show-third .comments-list table{
  width:100%;
  border:1px solid #996666;
  box-shadow:3px 3px 0 #996666;
  background-color:#f7f5f5;
  margin-bottom:15px;
}
.shops-show-third .comments-list table tr{
  border-bottom:1px solid #996666;
}
.shops-show-third .comments-list table tr td{
  padding:5px;
  font-size:13px;
}
.shops-show-third .comments-list table tr td p{
  color:#000;
}
.shops-show-third .comments-list p{
  color:#f00;
}
.shops-show-third .comments-list table tr td a{
  text-decoration:underline;
  color:#996666;
}
.shops-show-third .comments-list table tr td a:hover{
  opacity:0.5;
}
.shops-show-third .comments-list table tr .delete{
  text-align:right;
  color:#f00;
}
.positive{
  color:#f00;
  margin-right:7px;
  font-size:20px;
}
.negative{
  color:#00f;
  margin-right:7px;
  font-size:20px;
}
/* ----------shops.show---------- */

/* ----------shops.create---------- */
.shops-create-first{
  text-align:center;
}
.shops-create-first h2{
  color:#996666;
  font-size:25px;
  margin:10px 0;
}
.shops-create-first p{
  color:#996666;
  font-size:15px;
}
.shops-create-second{
  width:90%;
  margin:40px auto 0;
  border-top:2px solid #996666;
  border-bottom:2px solid #996666;
}
.shops-create-second table{
  margin:20px;
}
.shops-create-second table tr{
  height:60px;
}
.shops-create-second table tr th{
  font-weight:normal;
  padding-right:5px;
  font-size:13px;
}
.shops-create-second table tr td{
  font-size:13px;
}
.shops-create-second table tr td input,
.shops-create-second table tr td select{
  background-color:#fff;
  border:1px solid #996666;
  padding:5px;
}
.shops-create-second table tr td textarea{
  background-color:#fff;
  border:1px solid #996666;
  padding:5px;
  height:200px;
  width:150%;
  margin-bottom:20px;
}
/* ----------shops.create---------- */

/* ----------shops.edit---------- */
.shops-edit-first{
  text-align:center;
}
.shops-edit-first h2{
  color:#996666;
  font-size:25px;
  margin:10px 0;
}
.shops-edit-first p{
  color:#996666;
  font-size:15px;
}
.shops-edit-second{
  width:90%;
  margin:40px auto 0;
  border-top:2px solid #996666;
  border-bottom:2px solid #996666;
}
.shops-edit-second table{
  margin:20px;
}
.shops-edit-second table tr{
  height:60px;
}
.shops-edit-second table tr th{
  font-weight:normal;
  padding-right:5px;
  font-size:13px;
}
.shops-edit-second table tr td{
  font-size:13px;
}
.shops-edit-second table tr td input,
.shops-edit-second table tr td select{
  background-color:#fff;
  border:1px solid #996666;
  padding:5px;
}
.shops-edit-second table tr td textarea{
  background-color:#fff;
  border:1px solid #996666;
  padding:5px;
  height:200px;
  width:150%;
  margin-bottom:20px;
}
/* ----------shops.edit---------- */

/* ----------photos.index---------- */
.photos-index-first{
  margin:10px 0;
}
.photos-index-first h2{
  border-bottom:3px double #996666;
  padding:5px;
  width:50%;
  color:#996666;
  font-size:20px;
}
.photos-index-btn{
  margin:40px 0;
  text-align:center;
}
.photos-index-btn a{
  background-color:#996666;
  border:1px solid #996666;
  color:#fff;
  padding:10px 20px;
}
.photos-index-btn a:hover{
  background-color:#e8d8d8;
  color:#996666;
}
.photos-index-second{
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  grid-gap:2px;
  align-items:center;
}
.photos-index-second a{
  border:1px solid #996666;
  height:130px;
}
.photos-index-second a:hover{
  opacity:0.5;
}
.photos-index-second a img{
  width:100%;
  height:100%;
}
.photos-index-second p{
  color:#996666;
  font-size:13px;
  text-align:center;
}
/* ----------photos.index---------- */

/* ----------shops.show---------- */
.photos-show-first{
  width:80%;
  margin:0 auto;
}
.photos-show-first .photos-show-title{
  text-align:center;
  border-bottom:1px solid #996666;
}
.photos-show-first .photos-show-title p{
  padding:10px;
  font-size:20px;
  color:#996666;
}
.photos-show-first .photos-show-detail{
  width:95%;
  margin:10px auto;
}
.photos-show-first .photos-show-detail ul li{
  margin:10px 0;
  font-size:13px;
  color:#996666;
}
.photos-show-first .photos-show-detail ul li a{
  text-decoration:underline;
}
.photos-show-first .photos-show-detail ul li a:hover{
  opacity:0.5;
}
.photos-show-first .photos-show-image{
  width:100%;
  height:470px;
}
.photos-show-first .photos-show-image img{
  width:100%;
  height:470px;
}
.photos-show-first .photos-show-content{
  display:grid;
  align-items:center;
  border:1px solid #996666;
  border-radius:3px;
  margin:30px 0;
  min-height:100px;
  font-size:13px;
}
.photos-show-first .photos-show-content p{
  color:#996666;
  padding:10px;
  white-space:pre-wrap;
  line-height:1.8;
}
.photos-show-first .submit{
  margin:30px 0;
  text-align:center;
}
/* ----------shops.show---------- */

/* ----------photos.create---------- */
.photos-create-first{
  text-align:center;
}
.photos-create-first h2{
  color:#996666;
  font-size:25px;
  margin:10px 0;
}
.photos-create-first p{
  color:#996666;
  font-size:15px;
}
.photos-create-second{
  width:90%;
  margin:40px auto 0;
  border-top:2px solid #996666;
  border-bottom:2px solid #996666;
}
.photos-create-second table{
  margin:20px;
}
.photos-create-second table tr{
  height:60px;
}
.photos-create-second table tr th{
  font-weight:normal;
  padding-right:5px;
  font-size:13px;
}
.photos-create-second table tr td{
  font-size:13px;
}
.photos-create-second table tr td input,
.photos-create-second table tr td select{
  background-color:#fff;
  border:1px solid #996666;
  padding:5px;
}
.photos-create-second table tr td textarea{
  background-color:#fff;
  border:1px solid #996666;
  padding:5px;
  height:100px;
  width:150%;
  margin-bottom:20px;
}
/* ----------photos.create---------- */

/* ----------contacts.create---------- */
.contacts-create-first{
  text-align:center;
}
.contacts-create-first h2{
  color:#996666;
  font-size:25px;
  margin:10px 0;
}
.contacts-create-first p{
  color:#996666;
  font-size:15px;
}
.contacts-create-second{
  width:90%;
  margin:40px auto 0;
  border-top:2px solid #996666;
  border-bottom:2px solid #996666;
}
.contacts-create-second table{
  margin:20px;
}
.contacts-create-second table tr{
  height:60px;
}
.contacts-create-second table tr th{
  font-weight:normal;
  padding-right:5px;
  font-size:13px;
}
.contacts-create-second table tr td{
  font-size:13px;
}
.contacts-create-second table tr td input,
.contacts-create-second table tr td select{
  background-color:#fff;
  border:1px solid #996666;
  padding:5px;
  width:300px;
}
.contacts-create-second table tr td textarea{
  background-color:#fff;
  border:1px solid #996666;
  padding:5px;
  height:200px;
  width:400px;
  margin-bottom:20px;
}
/* ----------contacts.create---------- */

/* ----------contacts.confirm---------- */
.contacts-confirm-first{
  text-align:center;
}
.contacts-confirm-first h2{
  color:#996666;
  font-size:25px;
  margin:10px 0;
}
.contacts-confirm-second{
  width:90%;
  margin:40px auto 0;
  border-top:2px solid #996666;
  border-bottom:2px solid #996666;
}
.contacts-confirm-second table{
  margin:20px;
}
.contacts-confirm-second table tr{
  height:60px;
}
.contacts-confirm-second table tr th{
  font-weight:normal;
  padding-right:5px;
  font-size:13px;
}
.contacts-confirm-second table tr td{
  font-size:13px;
}
.contacts-confirm-second table tr td p{
  white-space:pre-wrap;
}
/* ----------contacts.confirm---------- */

/* ----------contacts.complete---------- */
.contacts-complete-first{
  text-align:center;
}
.contacts-complete-first h2{
  color:#996666;
  font-size:25px;
  margin:10px 0;
}
.contacts-complete-first p{
  line-height:2.0;
  margin-top:50px;
  color:#996666;
}
.contacts-complete-second{
  margin-top:100px;
  text-align:center;
}
.contacts-complete-second ul li{
  display:inline-block;
  margin:0 20px;
}
.contacts-complete-second ul li a{
  text-decoration:underline;
  color:#996666;
}
.contacts-complete-second ul li a:hover{
  opacity:0.5;
}
/* ----------contacts.complete---------- */

/* ----------comments.create---------- */
.comments-create-first{
  text-align:center;
  width:90%;
  margin:0 auto;
}
.comments-create-first h2{
  color:#996666;
  font-size:25px;
  margin:10px 0;
}
.comments-create-first p{
  color:#996666;
  font-size:15px;
  margin-bottom:10px;
}
.comments-create-first span{
  color:#996666;
  font-size:15px;
}
.comments-create-first span a{
  text-decoration:underline;
}
.comments-create-first span a:hover{
  opacity:0.5;
}
.comments-create-second{
  width:90%;
  margin:40px auto 0;
  border-top:2px solid #996666;
  border-bottom:2px solid #996666;
}
.comments-create-second table{
  margin:20px;
}
.comments-create-second table tr{
  height:60px;
}
.comments-create-second table tr th{
  font-weight:normal;
  padding-right:5px;
  font-size:13px;
}
.comments-create-second table tr td{
  font-size:13px;
}
.comments-create-second table tr td input{
  width:400px;
}
.comments-create-second table tr td select{
  width:150px;
}
.comments-create-second table tr td input,
.comments-create-second table tr td select{
  background-color:#fff;
  border:1px solid #996666;
  padding:5px;
}
.comments-create-second table tr td textarea{
  background-color:#fff;
  border:1px solid #996666;
  padding:5px;
  margin-bottom:5px;
  height:200px;
  width:400px;
}
/* ----------shops.create---------- */
